body {
    margin: 0;
    padding: 0;
}

.container {
    background: #efeadf;
    color: #ffffff;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.widgets {
    background: #072757;
    width: 32.5%;
    height: 200px;
}

.header, .footer {
    width: 100%;
    height: 300px;
    background: #2269ba;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}