.container {
    max-width: 100%;
    background: #eeeae3;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box {
    width: 230px;
    line-height: 1.5;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
    padding: 60px 30px 35px;
    display: flex;
    flex-direction: column;
}
p {
    margin-bottom: 30px;
}
span {
    border: 2px solid black;
    padding: 15px 0;
}